flow_config.json
[{"id":"29805b54.b8880c","type":"tab","label":"MQTT Flows","disabled":false,"info":""},{"id":"9e1ba4f.5e7c758","type":"mqtt in","z":"29805b54.b8880c","name":"arcade_button_1","topic":"esp/arcade_button_1/#","qos":"0","datatype":"auto","broker":"82af97d0.ff386","x":200,"y":320,"wires":[["b4bf985a.dbfb68"]]},{"id":"6a36e1a4.4cee8","type":"switch","z":"29805b54.b8880c","name":"Button Switch","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"short","vt":"str"},{"t":"cont","v":"long","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":960,"y":260,"wires":[["32846db2.4a9cfa"],["b4e77f6a.2c0c4"],[]]},{"id":"9009797b.d52048","type":"api-call-service","z":"29805b54.b8880c","name":"SetHueScene-SpringBlossom","server":"42e56ae8.81ed1c","version":1,"debugenabled":false,"service_domain":"script","service":"1575042658220","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1950,"y":140,"wires":[[]]},{"id":"f85561f4.3a3508","type":"comment","z":"29805b54.b8880c","name":"MQTT In","info":"This node watches the rabbit mqtt server for the esp/# topics.\n\nThe button switch forwards the topics that contain \"short\" or \"long\" to the switch outputs.","x":180,"y":240,"wires":[]},{"id":"32846db2.4a9cfa","type":"api-call-service","z":"29805b54.b8880c","name":"SetHueScene-Concentrate","server":"42e56ae8.81ed1c","version":1,"debugenabled":false,"service_domain":"script","service":"1575042743302","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":240,"wires":[["d94c4966.3bf66"]]},{"id":"b4e77f6a.2c0c4","type":"api-call-service","z":"29805b54.b8880c","name":"SetHueScene-Concentrate","server":"42e56ae8.81ed1c","version":1,"debugenabled":false,"service_domain":"script","service":"1575042743302","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":300,"wires":[[]]},{"id":"cd693574.3392d","type":"play audio","z":"29805b54.b8880c","name":"Time To Take a Break and Log Your Work","voice":"0","x":2020,"y":220,"wires":[]},{"id":"dbc53b0c.b3d9a","type":"inject","z":"29805b54.b8880c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject Text Test","payloadType":"str","x":1660,"y":140,"wires":[["9009797b.d52048","cd693574.3392d"]]},{"id":"ef7f1cea.953a08","type":"change","z":"29805b54.b8880c","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"Time to take a break","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":300,"wires":[["cd693574.3392d","9009797b.d52048"]]},{"id":"d94c4966.3bf66","type":"mytimeout","z":"29805b54.b8880c","name":"Work Timer","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"300","timer":"2700","debug":false,"ndebug":true,"ignoreCase":false,"repeat":false,"again":false,"x":1570,"y":240,"wires":[["18b3b451.041abc","af570339.d9f6d8"],["9f2da6e8.ea50a8","bdfdeb50.5aed","2df7393c.e22146"]]},{"id":"7a97e488.354804","type":"debug","z":"29805b54.b8880c","name":"MQTT Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":480,"wires":[]},{"id":"b4bf985a.dbfb68","type":"change","z":"29805b54.b8880c","name":"Change to Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["7a97e488.354804","6a36e1a4.4cee8","9a562a16.cc1728"]]},{"id":"b26b0277.75c7a","type":"comment","z":"29805b54.b8880c","name":"Change Payload","info":"Change the payload from \"toggle\" to the current timestamp.","x":460,"y":240,"wires":[]},{"id":"abd7b14.313cb5","type":"comment","z":"29805b54.b8880c","name":"Switch based on topic.","info":"esp/arcade_button_1/short\nOR\nesp/arcade_button_1/long","x":960,"y":180,"wires":[]},{"id":"58d44ed5.1fb6f","type":"comment","z":"29805b54.b8880c","name":"Switch based on time","info":"","x":740,"y":220,"wires":[]},{"id":"9a562a16.cc1728","type":"switch","z":"29805b54.b8880c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":360,"wires":[["13ec6460.69dd0c"]]},{"id":"13ec6460.69dd0c","type":"debug","z":"29805b54.b8880c","name":"Hours Switch Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":400,"wires":[]},{"id":"af570339.d9f6d8","type":"switch","z":"29805b54.b8880c","name":"Warning Switch","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Warning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1840,"y":400,"wires":[["ef7f1cea.953a08"]]},{"id":"18b3b451.041abc","type":"debug","z":"29805b54.b8880c","name":"MyTimer1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1940,"y":440,"wires":[]},{"id":"9f2da6e8.ea50a8","type":"debug","z":"29805b54.b8880c","name":"MyTimer2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1740,"y":520,"wires":[]},{"id":"bdfdeb50.5aed","type":"ui_gauge","z":"29805b54.b8880c","name":"Work Timer","group":"a8911cd7.85509","order":0,"width":0,"height":0,"gtype":"gage","title":"Current count of work timer","label":"units","format":"{{value}}","min":"2700","max":"0","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"","seg2":"300","x":1770,"y":600,"wires":[]},{"id":"2df7393c.e22146","type":"function","z":"29805b54.b8880c","name":"Divide by 60 for minutes","func":"msg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":660,"wires":[["479111d6.db89f"]]},{"id":"479111d6.db89f","type":"ui_gauge","z":"29805b54.b8880c","name":"Work Timer2","group":"a8911cd7.85509","order":0,"width":0,"height":0,"gtype":"gage","title":"Current count of work timer","label":"Minutes","format":"{{value}}","min":"45","max":"0","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"","seg2":"5","x":1970,"y":680,"wires":[]},{"id":"82af97d0.ff386","type":"mqtt-broker","z":"","name":"Rabbit","broker":"rabbit.futuresteak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"esp/nodered","birthQos":"0","birthPayload":"connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42e56ae8.81ed1c","type":"server","z":"","name":"Home Assistant 2","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"a8911cd7.85509","type":"ui_group","z":"","name":"Work Dashboard","tab":"5e3a0cab.1a22a4","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e3a0cab.1a22a4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":8}]
